.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


header{
  display: inline;
}

nav{
  padding: 4px;
  text-align: center;
  box-shadow: 0 0px 7px 0 rgba(12,12,12, 0.2);
}

.background-light{
  background-color: #F0FFF0;
}

.background-light a{
  color: black;
}

.background-light a:hover{
  color: #87CEFA;
}

.background-dark{
  background-color: black;
}

.background-dark a{
  color: white;
}

.background-dark a:hover{
  color:#FFD700;
}

nav .menu ul{
  padding: 0 20px;
  position: relative;
}

nav .menu li{
  display: inline;
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
}

nav .menu a{
  text-decoration: none;
}


.body{
  margin-top: 20px;
}


h1{
  text-align: center;
}

fieldset{
  width: 480px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
}

.button9{
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
td{
  width: 150px;
}
.label{
  font-weight: bold;
  vertical-align: bottom;
}

.tabel-daftar{
  width:40%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.daftarbuah{
  border: "1px solid #ffff";
  padding: "20px";
  border: 1px solid black;
  margin: 0 auto;
}

.tabel-daftar th{
  background-color: gray;
}

.tabel-daftar tr{
  background-color:#FF7F50;
}

.clock{
  display: grid;
  grid-template-columns: 50% 50%;
}

.tabel-daftar{
  width : 80%;
  margin: 0 auto;
  border: 1px solid gray;
}

.tabel-daftar h1{
  text-align: center;
}

.tabel-daftar table{
  width:90%;
  margin: 0 auto;
}

#daftar-buah{
  border : 1px solid black;
}

#daftar-buah th{
  background-color: gray;
}

#daftar-buah tr{
  background-color:#FF7F50;
}

