.tabel-daftar-buah{
    width : 80%;
    margin: 0 auto;
    border: 1px solid gray;
  }
  
  .tabel-daftar-buah h1{
    text-align: center;
  }
  
  .tabel-daftar-buah table{
    width:90%;
    margin: 0 auto;
  }
  
  #daftar-buah{
    border : 1px solid black;
  }
  
  .tabel-daftar-buah form{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .tabel-daftar-buah th{
    text-align: center;
    background-color: grey;
  }
  
  .tabel-daftar-buah tbody tr{
    
    background-color: #FF7F50;
  }
  
  #daftar-buah tr td button{
   margin:0 auto;
  }
  
  #tabel-form{
    width: 80%;
    margin: 0 auto;
  }

  
  #tabel-form td{
      width:50%;
  }
  #tabel-form input{
    margin-left: 10px;
  }
  